<div id="table">
    <h1>Table of Sensor Data</h1>

    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th><span>Sensor ID</span></th>
                <th><span>Nhiệt độ(°C)</span></th>
                <th><span>Độ ẩm (%)</span></th>
                <th><span>Ánh sáng (Lux)</span></th>
                <th><span>Thời gian</span></th>
            </tr>
        </thead>
        <tbody>
            {{#each datas}}
            <tr>
                <td>{{this.sensorId}}</td>
                <td>{{this.temperature}}</td>
                <td>{{this.humidity}}</td>
                <td>{{this.light}}</td>
                <td>{{formatDate this.createdAt}}</td>
            </tr>          
            {{/each}}
        </tbody>
    </table>
</div>