<div id="table">
    <h1>Action History</h1>

    <form action="/filter/tableActionHistory?page=1" method="post" class="row" style="margin-bottom: 20px">
        <div class="col-xl-4">
            <label for="startTime">Từ : </label>
            <input type="datetime-local" id="startTime" name="startTime" required><br><br>
        </div>
        <div class="col-xl-4">
            <label for="endTime">Đến : </label>
            <input type="datetime-local" id="endTime" name="endTime" required><br><br>
        </div>
        <button type="submit" style="background-color: aqua;">Lọc dữ liệu</button>
    </form>

    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th><span>Sensor ID</span></th>
                <th><span>Người dùng</span></th>
                <th><span>Hành động</span></th>
                <th><span>Thời gian</span></th>
            </tr>
        </thead>
        <tbody>
            {{#each actions}}
            <tr>
                <td>{{this.sensorId}}</td>
                <td>{{this.name}}</td>
                <td>{{this.action}}</td>
                <td>{{formatDate this.createdAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <nav aria-label="..." class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="/tableActionHistory?page=1">First</a>
            </li>
            <li class="page-item previous">
                <a class="page-link" href="/tableActionHistory?page={{pagePrevious}}">Previous</a>
            </li>
            <li class="page-item">
                {{#if pageLeft }}
                <a class="page-link" href="/tableActionHistory?page={{pageLeft}}">{{pageLeft}}</a>
                {{/if}}
            </li>
            <li class="page-item active">
                <span class="page-link" id="page"> {{pageNumber}}</span>
            </li>
            <li class="page-item">
                {{#if pageRight }}
                <a class="page-link" href="/tableActionHistory?page={{pageRight}}">{{pageRight}}</a>
                {{/if}}
            </li>
            <li class="page-item">
                <a class="page-link" href="/tableActionHistory?page={{pageNext}}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/tableActionHistory?page={{pageLast}}">Last</a>
            </li>
        </ul>
    </nav>
</div>